@media(min-width: 0px){
    .imgAmielContainer{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 220px;
        width: 100%;
        overflow: hidden;
    }
    .imgAmiel{
        height: 210px;
        width: 210px;
        object-fit: contain;
        object-position: left;
        border-radius: 100%;
        border: 3px double black;
    }
    .introHeading{
        font-size: 32px;
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media(min-width: 601px){
    .imgAmielContainer{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 360px;
        width: 100%;
        overflow: hidden;
    }
    .imgAmiel{
        height: 300px;
        width: 300px;
        object-fit: contain;
        object-position: left;
        border-radius: 100%;
        border: 5px double black;
    }
    .introHeading{
        font-size: 38px;
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media(min-width: 901px){
    .imgAmielContainer{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 360px;
        width: 100%;
        overflow: hidden;
    }
    .imgAmiel{
        height: 300px;
        width: 300px;
        object-fit: contain;
        object-position: left;
        border-radius: 100%;
        border: 5px double black;
    }
    .introHeading{
        font-size: 38px;
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}