@media(min-width: 0px){
    .projectsHeading{
        font-size: 32px;
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        margin-top: 15px;
        margin-bottom: 15px;    
    }
    .projectAnchor{
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        font-size: 20px;
        text-decoration: underline;
    }
}

@media(min-width: 601px){
    .projectsHeading{
        font-size: 32px;
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        margin-top: 15px;
        margin-bottom: 15px;         
    }
    .projectAnchor{
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        font-size: 20px;
        text-decoration: underline;
    }
}

@media(min-width: 900px){
    .projectsHeading{
        font-size: 32px;
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .projectAnchor{
        font-weight: 600;
        font-family: inherit;
        color: #FF404E;
        font-size: 20px;
        text-decoration: underline;
    }
}